.opening__column {
    top: 0;
    background-color: black;
    color: white;
    font-size: 100px;
    position: absolute;
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    animation: closing 1s ease-in-out forwards;
    animation-delay: 1.5s
}

@keyframes opening {
    0% {
        transform: scale(0);
    }
    75% {
        transform: scale(1.5);
    }
    100%{
        transform: scale(1);
    }
}

.opening__text {
    animation: opening 0.5s ease-in-out forwards;
}

@keyframes closing {
    from {
        opacity: 1;
    }
    to {
        opacity: 0;
        visibility: hidden;
    }
}
