/*setting*/
@import url('https://fonts.googleapis.com/css2?family=Kdam+Thmor+Pro&family=Open+Sans:wght@400;600&display=swap');
@import "./reset.css";
@import "./navigation-bar.css";
/*screens*/
@import "./index.css";
@import "./opening.css";
@import "./status-bar.css";
@import "./home.css";
@import "./search.css";

body {
    font-family: 'Kdam Thmor Pro', sans-serif;
    font-family: 'Open Sans', sans-serif;
    width: 100vw;
    height: 100vh;
}