.watch__contents {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 70px;
    color: black;
}

.watch__contents iframe {
    border-radius: 15px;
}

.watch__contetns__informations {
    padding-top: 15px;
    width: 450px;
    height: 70px;
}

.watch__contetns__informations img {
    width: 5%;
    border-radius: 15px;
}

.watch__contents__informations__align {
    padding-top: 5px;
    display: flex;
    align-items: center;
}